:root{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page{
    max-width: 38rem;
    margin:0 auto;
}

header{
    background-color: #8E9AAF;
    text-align: center;
    height: 250px;

    animation: right 700ms;
}

header h1{
    background: #CBC0D3;
    color: white;
    font-size: 4rem;
    height: 4.9rem;
}

header p{
    display: none;
}

main{

    text-align: center;
    display: grid;
    gap: 3rem;
    background-color: #EFF1FF;
}

main p{
    font-size: 1.2rem;

    animation: appear 3s;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
}

.card{
    position: relative;

    animation: left 700ms;
}

.card img{
    border-radius: 1.0rem;

    object-fit: cover;

    transition: .3s;
}

.card h2{
    display: block;
    position: absolute;
    top: 1.8rem;
    right: 4.5rem;

    font-family: 'Staatliches', cursive;
    border-radius: 2rem;
    padding: 0 1.6rem;

    display: inline-flex;
    align-items: center;
    background-color: #FEEAFA;
}

.card img:hover{
    transform:scale(1.05);
    opacity: 0.6
}

footer{
    display: none;

    
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: #4a4e69;

}

@keyframes right {
    0%{
        opacity: 0
    }

    50%{
        opacity: 0.5;
        transform: translateX(15rem)
        
    }

    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}


@keyframes left {
    0%{
        opacity: 0
    }

    50%{
        opacity: 0.5;
        transform: translateX(-15rem)
        
    }

    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}


@keyframes appear {
    0%{
        opacity: 0
    }

    100%{
        opacity: 1
    }
}

footer{
    display: none;
}

@media (min-width: 768px){

    .page{
        display: flex;
        max-width: 150rem;
    }

    header{
        height:97rem;
        width: 45rem;
       align-items: center;
    }

    header p{
        font-family: 'Palanquin', sans-serif;
        font-size: 2.4rem;
        color: white;


        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 3.2rem;
    }

    main p{
        display: none;

    }

    .cards {
        display: grid;
        grid-template-areas: "A B"
        "D B"
        "D C"
        "E F";
        gap: 3.2rem;

        margin-left: 4rem;
        }
    
        .cards div:nth-child(1){
            grid-area: A;
        }
    
        .cards div:nth-child(2){
            grid-area: B;
        }
        .cards div:nth-child(3){
            grid-area: C;
            display: block;
        }
        .cards div:nth-child(4){
            grid-area: D;
        }
        .cards div:nth-child(5){
            grid-area: E;
        }
        .cards div:nth-child(6){
            grid-area: F;
            display: block;
        }
     
    .card h2 span{
        display: none;
    }
 }

