:root{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page{
    max-width: 58rem;
    margin:0 auto;
}

header{
    background-color: #8E9AAF;
    text-align: center;
    height: 250px;
}

header h1{
    background: #CBC0D3;
    color: white;
    font-size: 4rem;
    height: 4.9rem;
}

main{
    text-align: center;
    display: grid;
    gap: 3rem;
    background-color: #EFF1FF;
}

main p{
    font-size: 1.2rem;
}

.card{
    position: relative;
}

.card img{
    border-radius: 1.0rem;

    object-fit: cover;

    transition: .3s;
}

.card h2{
    position: absolute;
    top: 1.8rem;
    right: 13.5rem;

    font-family: 'Staatliches', cursive;
    border-radius: 2rem;
    padding: 0 1.6rem;

    display: inline-flex;
    align-items: center;
    background-color: #FEEAFA;
}

.card img:hover{
    transform:scale(1.05);
    opacity: 0.6
}


